.modal__container{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    position: fixed;
    top: 10%;
    bottom: 2%;
    left: 2%;
    right: 2%;
    z-index: 5;
    overflow-y:scroll;
    overflow-x:hidden;
    padding: 20px;


    .modal__name-container{
        margin: 30px 0;
        h2{
            color: $amarillo;
            margin: 0;
        }
    }

    .modal__photo{
        width: 50vw;
        height: 50vw;
        background:rgb(252, 252, 252);
        border-radius:100%;
        overflow: hidden;
        margin: 0 auto; 
        position: relative;
    
        img{
            width: 100%;
            border-radius:100%;
    
        }
    }

    .modal__area-text{
        color: $azul;
    }
    .modal__description-text{
        color: $gris;
    }

    .modal__links-container{
        display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    img{
        width:50px ; 
    }
    }

    
}

@media (min-width: 800px) {  
    .modal__container {
        img{
            width: 100%;
        }
        .modal__photo {
        width: 30vw;
        height: 30vw;
        float: left;
        margin: 0 50px;
    }}
}

