body {
  margin: 0;
  font-family: Quicksand, Avenir;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  h1, h2, h3, h4,h5{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
 }
}

h1{
  font-size: 1.5em;
}
h2{
  font-size: 1.3em;
}
h3{
  font-size: 1em;
}
h4{
  font-size: .8em;
}
h5{
  font-size: .5em;
}
p{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 1em;
}

@media (min-width: 808px) {  
  h1{
      font-size: 3em;
  }
  h2{
      font-size: 1.5em;
  }
  h3{
      font-size: 2em;
  }
  h5{
    font-size: 1em;
  }
  p{
    font-size:1.1em;
  }
}

.btn {
  background: $azul;
  color: white;
  padding:0.5rem 3rem .5rem 3rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

.btn-disabled {
  color: #114D97;
    padding: 0.5rem 2rem .5rem 2rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    text-decoration: none;
    border: 1px solid #114D97;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}


.btn:hover{
  opacity: .8;
}

.modal__back{
  color: $primary;
  text-align: start;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: nowrap;
  a{
      text-decoration: 0;
      font-weight: bold;
  }

}